<ion-content>

  <ion-card *ngIf="(item$|async) as item">
    <ion-card-header [color]="item.level|color" class="ion-text-center" >
      <ion-text>
        <p>{{item.id}}</p>
      </ion-text>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-text>
        <h1 class="ion-padding-top">{{item.name}}</h1>
        <p>{{item.type}}</p>
      </ion-text>
      <ion-text>
        {{item.level|level}}
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="(itemDesc$|async) as desc">
    <ion-card-content>
      <ion-text [innerHTML]="desc?.extract_html">
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>